<MudDialog Style="position: relative">
    <DialogContent>

        <div class="text-center mb-3 text-dark">
            <h3>@User.UserName</h3>
        </div>

        <Input_Password @bind-Value=newPassword Class="mb-3" Required />

        @if (!string.IsNullOrEmpty(error))
        {
            <span class="text-danger mb-2">@error</span>
        }

        <Button Label="Reset" Color="AppColor.Warning" FullWidth="true" OnClick="ResetAsync" />
        
    </DialogContent>

</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance dialog { get; set; } = default!;

    [Parameter]
    public UserDto User { get; set; } = default!;

    private string newPassword = "";

    private string? error;

    private async Task ResetAsync()
    {
        if (string.IsNullOrEmpty(newPassword))
        {
            error = "Please enter password";
            return;
        }
        
        await CallGuarded.ExecuteAsync(
            () => UserService.ForcePasswordAsync(User.Id, newPassword),
            $"Reset password for user [{User.UserName}] success",
            dialog);
    }
}
