@page "/tokens"
@using QRCoder

<PageHeader Title="User Tokens" />

<Table State="state">
    <HeadContent>
        <th>Id</th>
        <th>Device</th>
        <th>IP</th>
        <th>MAC</th>
        <th></th>
    </HeadContent>
    <RowTemplate>
        <td>@context.Id</td>
        <td>@(string.IsNullOrEmpty(context.Device?.Id) ? "Unknown device" : $"{context.Device?.Id} {context.Device?.Name}")</td>
        <td>@context.Device?.IpAddress</td>
        <td>@context.Device?.PhysicalAddress</td>
        <td>
            Revoke
        </td>
    </RowTemplate>
</Table>

@code {

    private DataTable<UserTokenDto> state = null!;

    protected override async Task OnInitializedAsync()
    {
        state = new(UserProfileService.GetTokensAsync);
        await state.ReloadAsync();
    }

}
