@using QRCoder
@using System.Collections

@page "/profiles"

<PageHeader Title="User Profiles" />

@if (userClaims is not null)
{
    <div class="d-flex justify-content-center mb-5">
        <img width="300" src="@GenerateQRCode(CurrentUser.UserId)" alt="QR Code" />
    </div>

    <ObjectViewer Model="userToken" />

    <div class="mt-3 mb-3">
        <ObjectViewer Model="userClaims" />
    </div>

    if (isFullControl)
    {
        <button @onclick="RequestPermission">Request Permission</button>
        <button @onclick="ShowNotification">Show Notification</button>
    }
}
else
{
    <h1>Not logged in</h1>
}

@code {
    [Inject]
    AuthenticationStateProvider AuthenticationState { get; set; } = default!;

    [Inject]
    TokenStorage TokenStorage { get; set; } = default!;

    private object? userToken;

    private object? userClaims;

    private bool isFullControl => CurrentUser.IsFullControl();

    protected override async Task OnInitializedAsync()
    {
        userToken = await TokenStorage.GetAsync();

        userClaims = (await AuthenticationState.GetAuthenticationStateAsync()).User.Claims.ToList();
    }

    private string GenerateQRCode(string? qrText)
    {
        if (string.IsNullOrEmpty(qrText))
        {
            return string.Empty;
        }
        
        using (var qrGenerator = new QRCodeGenerator())
        {
            var qrCodeData = qrGenerator.CreateQrCode(qrText, QRCodeGenerator.ECCLevel.Q);
            var qrCode = new PngByteQRCode(qrCodeData);
            var qrCodeBytes = qrCode.GetGraphic(20);
            return $"data:image/png;base64,{Convert.ToBase64String(qrCodeBytes)}";
        }
    }

    private async Task RequestPermission()
    {
        await JSRuntime.InvokeVoidAsync("requestNotificationPermission");
    }

    private async Task ShowNotification()
    {
        var options = new { body = "This is a test notification." };
        await JSRuntime.InvokeVoidAsync("showNotification", "Test Notification", options);
    }
}
