<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
                <NotAuthorized>
                    @if (CurrentUser.IsAuthenticated)
                    {
                        <AccessDenied />
                    }
                    else
                    {
                        <Monolith.Pages.Account.Login />
                    }
                </NotAuthorized>
                <Authorizing>
                    <p>Please wait...</p>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            @*
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p class="text-danger">Sorry, there's nothing at this address.</p>
            </LayoutView>
            *@
            <RedirectToHome />
        </NotFound>
    </Router>
</CascadingAuthenticationState>