@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
    <br />
    <br />
    @foreach (var claim in context.User.Claims)
    {
        <b>@claim.Type: @claim.Value</b>
        <br />
    }
</AuthorizeView>
