@page "/account/login"
@using Monolith.Blazor.Extensions

@layout MainLayout

@attribute [AllowAnonymous]

@inject ILogger<Login> Logger

<PageTitle>Log in</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="d-flex align-center" Style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <div style="max-width:400px">

            <MudPaper Elevation="0" Class="pa-8" Width="100%" Style="position: relative;">

                @if (Input != null)
                {
                    <EditForm Model="@Input" OnValidSubmit="LoginHandle" FormName="loginForm" autocomplete="off">

                        @if (!string.IsNullOrEmpty(errorMessage))
                        {
                            <div class="alert alert-danger" role="alert">@errorMessage</div>
                        }

                        <DataAnnotationsValidator />
                        @* Must set name for input matching with @bind for pass require FormModel error *@
                        <div class="mb-5">
                            <input class="form-control" name="Input.Username" placeHolder="Username" @bind="@Input.Username" required />
                        </div>

                        <div class="mb-5">
                            <input class="form-control" name="Input.Password" placeHolder="Password" @bind="@Input.Password" required />
                        </div>

                        <Button Label="Login" Color="AppColor.Primary" FullWidth Submit />

                        <Overlay IsProcessing="processing" />

                    </EditForm>
                }
                
            </MudPaper>
            <div class="text-center text-secondary">
                Demo version
            </div>
        </div>
    </div>
</MudContainer>

@inject ISignInManager _signInManager

@code {
    [SupplyParameterFromForm]
    private LoginModel? Input { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private bool processing;

    private string? errorMessage;


    protected override void OnInitialized()
    {
        if (CurrentUser.IsAuthenticated)
        {
            //NavigationManager.NavigateTo("/");
        }

        Input = new();

#if DEBUG
    Input.Username = "super";
    Input.Password = "123";
    Input.RememberMe = true;
#endif
    }

    public async Task LoginHandle()
    {
        ToggleState();

        if (Input != null)
        {
            var login = await _signInManager.SignInAsync(Input);

            if (login.Succeeded)
            {
                Logger.LogInformation("User logged in.");
                NavigationManager.RedirectWhenLoginSuccess(ReturnUrl);
            }
        }

        errorMessage = "Error: Invalid login attempt.";

        ToggleState();
    }

    private void ToggleState()
    {
        processing = !processing;
    }
}
