<Table State="state">
    <HeadContent>
        <th>DocumentId</th>
        <th>Success</th>
        <th>Message</th>
    </HeadContent>
    <RowTemplate>
        <td>@context.DocumentId</td>
        <td>@context.IsSucceeded</td>
        <td>@context.Message</td>
    </RowTemplate>
</Table>


@code {
    [Parameter]
    public IEnumerable<ResultVm> Data { get; set; } = null!;

    private DataTable<ResultVm> state = null!;

    protected override async Task OnInitializedAsync()
    {
        state = new(Data)
        {
            SearchFunc = (searchValue, e) =>
            e.DocumentId.Contains(searchValue, StringComparison.OrdinalIgnoreCase)
                || (!string.IsNullOrEmpty(e.Message)
                    && e.Message.Contains(searchValue, StringComparison.OrdinalIgnoreCase))
        };

        await state.ReloadAsync();
    }
}
