@page "/account/login"
@using Monolith.HttpApi.Common.HttpFactory

@attribute [AllowAnonymous, ExcludeFromInteractiveRouting]

@inject ILogger<Login> Logger
@inject IAuthService AuthProvider

<PageTitle>Log in</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="d-flex align-center" Style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <div style="max-width:400px">

            <MudPaper Elevation="0" Class="pa-8" Width="100%" Style="position: relative;">

                <EditForm Model="@Input" OnValidSubmit="LoginHandle" FormName="loginForm" autocomplete="off">

                    @if (!string.IsNullOrEmpty(error))
                    {
                        <div class="alert alert-danger" role="alert">@error</div>
                    }

                    <DataAnnotationsValidator />
                    @*
                        Must set name for input matching with @bind for pass require FormModel error
                    *@
                    <div class="mb-5">
                        <input class="form-control" name="Input.Username" placeHolder="Username" @bind="@Input.Username" required />
                    </div>

                    <div class="mb-5">
                        <input class="form-control" name="Input.Password" placeHolder="Password" @bind="@Input.Password" required />
                    </div>

                    <Button Label="Login" Color="AppColor.Primary" FullWidth Submit />

                    <Overlay IsProcessing="processing" />

                </EditForm>
            </MudPaper>
            <div class="text-center text-secondary">
                Demo version
            </div>
        </div>
    </div>
</MudContainer>


@code {
    private string? errorMessage;

    //[CascadingParameter]
    //private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private bool processing;

    private string? error;

    protected override void OnInitialized()
    {
        if (CurrentUser.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    public async Task LoginHandle()
    {
        var login = await AuthProvider.LoginAsync(Input.Username, Input.Password, Input.RememberMe);

        if (login.Succeeded)
        {
            Logger.LogInformation("User logged in.");
            NavigationManager.RedirectWhenLoginSuccess(ReturnUrl);
        }

        errorMessage = "Error: Invalid login attempt.";
    }

    private void ToggleState()
    {
        processing = !processing;
    }

    private sealed class InputModel
    {
        [Required]
        public string Username { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        [Display(Name = "Remember me?")]
        public bool RememberMe { get; set; }
    }
}
