@implements IDialogContentComponent

@if (Content != null)
{
    <h4 class="text-danger">Main Category: @Content.Name</h4>
}

<div>
    <Input Class="w-100" @bind-Value="@model.Name" Label="Name" Required />
</div>

<FluentDialogFooter>
    <Button_Save OnClick="CreateAsync" />
</FluentDialogFooter>

@code {
    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = null!;

    [Parameter]
    public CategoryDto? Content { get; set; }

    private CreateCategoryRequest model = new();

    protected override void OnParametersSet()
    {
        if (!string.IsNullOrEmpty(Content?.Id))
        {
            var mainCategoryId = Content.Id;
            model.SubOfId = mainCategoryId;
        }
    }

    private async Task CreateAsync()
    {
        await CallGuarded.ExecuteAsync(
            () => CategoryService.CreateAsync(model),
            $"Entity {model.Name} created",
            Dialog);
    }
}
