@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Admin";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Admin area</h1>
    <p>MVC Admin Area content</p>
</div>
