:root {
    --bs-primary-rgb: var(--mud-palette-primary);
    --bs-table-bg: var(--mud-palette-surface);
    --bs-table-color: var(--mud-palette-text-primary);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--mud-palette-text-secondary) !important;
}

.bg-primary, .bg-info, .bg-warning, .bg-error {
    opacity: 0.7;
    font-weight: var(--mud-typography-default-weight);
}

.bg-primary {
    background-color: var(--mud-palette-primary) !important;
}

.bg-info {
    background-color: var(--mud-palette-info) !important;
}

.bg-warning {
    background-color: var(--mud-palette-warning) !important;
}

.bg-error {
    background-color: var(--mud-palette-error) !important;
}

@media (max-width: 1151px) and (orientation: portrait) {
    .mud-drawer-fixed.mud-drawer-mini.mud-drawer-clipped-always,
    .mud-drawer-fixed.mud-drawer-persistent:not(.mud-drawer-clipped-never),
    .mud-drawer-fixed.mud-drawer-responsive.mud-drawer-clipped-always,
    .mud-drawer-fixed.mud-drawer-temporary.mud-drawer-clipped-always {
        top: 0;
        height: 100%;
    }

    .logo-image {
        display: none;
    }
}

.mud-input-label-outlined {
    background-color: var(--mud-palette-surface);
}

.form-check-input:checked {
    background-color: var(--mud-palette-primary);
    border-color: var(--mud-palette-primary);
}

.mud-button {
    border-radius: 5px;
}

.mud-table,
.table {
    --bs-table-bg: var(--mud-palette-surface);
    --bs-table-color: var(--mud-palette-text-secondary);
}

    .table thead th {
        text-align: center;
        background: rgba(248, 249, 250, 0.5);
        text-transform: uppercase;
        color: var(--mud-palette-text-primary);
    }

.table-hover > tbody > tr:hover > * {
    --bs-table-color-state: var(--mud-palette-text-primary);
}

.card {
    color: var(--mud-palette-text-secondary);
    background-color: var(--mud-palette-surface);
}

.card-header {
    background-color: unset;
}

.list-group {
    color: var(--mud-palette-text-secondary);
    background-color: var(--mud-palette-surface);
    --bs-list-group-color: var(--mud-palette-text-primar);
    --bs-list-group-bg: var(--mud-palette-surface);
}

.page-link {
    color: var(--mud-palette-secondary) !important;
}

    .active > .page-link, .page-link.active {
        color: var(--mud-palette-primary) !important;
        background-color: var(--mud-palette-primary-hover) !important;
    }

.noti-list {
    width: 270px;
    margin: 15px;
    overflow-y: auto;
}

.noti-card {
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.noti-card:hover {
    transform: translateY(-5px);
}

.form-check-input:focus {
    box-shadow: unset;
}

.form-control:focus {
    box-shadow: unset;
    border-color: var(--mud-palette-primary-hover);
}

.label-info {
    border-radius: 5px;
    background-color: #dbe0e5 !important;
    color: #5b6b79 !important;
    padding: 5px;
    text-transform: uppercase;
    font-size: 15px;
}

.require {
    color: #ED5565;
    font-weight: bold;
    margin-left: 2px;
}

.img-container {
    position: relative;
    margin: 5px;
    width: 300px;
}

    .img-container .img-image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        border-radius: 10px;
    }

    .img-container .img-actions {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        font-size: 18px !important;
    }

    .img-container:hover .img-image {
        opacity: 0.7;
    }

    .img-container:hover .img-actions {
        opacity: 1;
    }

/*
.btn-action {
    width: 32px;
    height: 32px;
    font-size: 18px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
*/
    .btn-action:hover {
        color: var(--mud-palette-text-secondary) !important;
        background: var(--mud-palette-primary-hover) !important;
    }

.action-buttons {
    display: flex;
    justify-content: end;
    margin-bottom: 12px;
}

    .action-buttons button,
    .action-buttons a {
        margin-left: 8px;
    }

.action-link {
    display: block;
}

tbody > tr {
    vertical-align: middle;
}