@using Monolith.HttpApi.Identity
@inherits LayoutComponentBase

@layout MainLayout

<AuthorizeView>
    <Authorized>
        <MudLayout>
            <MudAppBar Elevation="0">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                <a href="/"><img src="/images/ASP-NET-Core-Logo.png" class="logo-image" style="height: 30px" /></a>
                <MudSpacer />
                <MudIconButton Icon="@darkModeIcon" Size="Size.Small" Color="Color.Inherit" Class="mr-1" OnClick="@((e) => DarkModeToggle())" />
                <UserNotificationPopup />
                <UserMenu />
            </MudAppBar>
            <MudDrawer @bind-Open="drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="0">
                <NavMenu />
            </MudDrawer>
            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.Large" Style="padding: 1rem 2rem;">
                    @Body
                </MudContainer>
            </MudMainContent>
        </MudLayout>
    </Authorized>
</AuthorizeView>

@inject LayoutService LayoutService
@inject TokenHttpService TokenService
@inject IIdentityManager IdentityManager

@code {
    bool drawerOpen = true;

    bool darkMode = false;

    string darkModeIcon => darkMode == true ? Icons.Material.Filled.DarkMode : Icons.Material.Filled.LightMode;

    void DrawerToggle() => drawerOpen = !drawerOpen;

    void DarkModeToggle()
    {
        darkMode = !darkMode;
        LayoutService.SetDarkMode(darkMode);
    }

    protected override async Task OnInitializedAsync()
    {
        var checkTokenValid = await TokenService.CheckTokenAsync();

        if (checkTokenValid.Data is false)
        {
            await IdentityManager.LogoutAsync();

            ToastService.ShowError("Your session has expired, please login again.");
        }
    }
}
